// .block-1 {
//   position: absolute;
//   top: 90px;
//   width: 220px;
//   padding: 20px;
//   border-radius: 15px;
//   background-image: url(../assets/blankback.png);
//   font-size: 20px;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
// }

// .block-2 {
//   position: absolute;
//   left: 50px;
//   top: 200px;
//   width: 220px;
//   padding: 20px;
//   border-radius: 15px;
//   background-image: url(../assets/blankback.png);
//   font-size: 20px;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
// }

img.learning {
  position: absolute;
  width: 120px;
  height: auto;
  top: 20%;
  left: -40%;
}
.type-content {
  padding-top: 20px;
}
.Typewriter__wrapper {
  color: rgb(167, 108, 21);
  font-size: 25px;
}

.Typewriter__cursor {
  font-size: 25px;
}
