
 .card {
  position: absolute;
  border-radius: 20px;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0deg))
    translate(var(--translate-y, 0))
    rotate(var(--rotate, 0deg));
  transition: transform 0.7s;
  transform-style: preserve-3d;
  //drop shadow
  -moz-box-shadow: 0 0 3px rgb(6, 5, 5);
  -webkit-box-shadow: 0 0 3px rgb(5, 5, 5);
  box-shadow: 0 0 3px rgba(88, 67, 2, 0.5);
  cursor: pointer;
  height: 360px;
  width: 240px;
  & .trans-back { 
    transform: translate(0px, 0px);
    transition: transform 2s;
  }
  left: 40%;
  top: 50%;
}

.front {
  background-size: cover;
  position: absolute;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.back {
  position: absolute;
  background-color: rgb(233, 206, 156);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

.back-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front, .back {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 1s;
}

.img-size {  
  display: inline-block;
  text-align: left;
  position: absolute;
  height: 30%;
}


.card.flip {
  --rotate-y: -180deg;
  & .javascript {
    transform: translate(-120px, 100px);
    transition: transform 2s;
  }
  & .react {
    transform: translate(100px, 100px);
    transition: transform 2s;
  }
  & .ruby {
    transform: translate(0px, 100px);
    transition: transform 2s;
  }
  & .python {
    transform: translate(-30px, 190px);
    transition: transform 2s;
  }
  & .typescript {
    transform: translate(120px, 0px);
    transition: transform 2s;
  }
}

.skills {
  background-image: url("../assets/cat_1.png");
}

.education {
  background-image: url("../assets/cat_2.png");
}

.interests {
  background-image: url("../assets/cat_3.png");
}

.place {
  background-image: url("../assets/cat_4.png");
}

.place2 {
  background-image: url("../assets/cat_5.png");
}


