.linkedin {
  position: absolute;
  top:20%;
}
.github {
  position: absolute;
  left: 38%;
  top: 40%;
}
.email {
  position: absolute;
  top: 60%;
}

.contact-img {
  -webkit-filter: drop-shadow(4px 7px 5px rgba(0, 0, 0, 0.2));
}

.card.flip {
  & .linkedin {
    transform: translate(10px, -40px);
    transition: transform 2s;
  }
  & .github {
    transform: translate(40px, -20px);
    transition: transform 2s;
  }
  & .email {
    transform: translate(10px, 20px);
    transition: transform 2s;
  }
}

@media only screen and (max-width: 600px) {
  .contact-img {
    width: 105px;
  }
}


@media only screen and (min-width: 600px) {
  .contact-img {
    width: 105px;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-img {
    width: 150px;
  }
}

a {
  text-decoration: none;
}