.t {
  position: absolute;
  width: 80px;
  top: 5%;
  left: 5%;
}

.m {
  position: absolute;
  width: 80px;
  top: 25%;
  left: 20%;
}

.name {
  //rubik bubble font
  font-family: 'Rubik Bubbles', cursive;
  position: absolute;
  top: 58%;
  left: 36.5%;
}

.email {
  position: absolute;
  top: 68%;
  left: 30%;
  color: #fff;
}

.git-logo {
  position: absolute;
  background-image: url(../assets/github.png);
  background-size: cover;
  //fit background to div
  background-repeat: no-repeat;
  //keep aspect ratio
  background-position: center;
  width: 22.5%;
  height: 15%;
  top: 78%;
  left: 40%;
}
.linked-logo {
  //overlay color 
  background-image: url(../assets/linked.png);
  position: absolute;
  background-size: cover;
  //fit background to div
  background-repeat: no-repeat;
  //keep aspect ratio
  background-position: center;
  width: 22.5%;
  height: 15%;
  top: 78%;
  left: 67%;
}

// animation to pulse on hover
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.card.flip {
  & .linked-logo {
    // use pulse animation
    animation: pulse 2s infinite;
  }
  & .git-logo {
    animation: pulse 2s infinite;
  }
  & .email {
    animation: pulse 2s infinite;
  }
}



@media only screen and (min-width: 1200px) {
  .name {
    top: 58%;
    left: 41%;
  }
  
  .email {
    top: 68%;
    left: 36%;
  }
}

a {
  text-decoration: none;
}