.back-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.project > h2:hover{
  color: #edb362;
}

.link-top {
  z-index: 99;
}

.project > a {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: #eebd78;
  }
}

.hand-1{
  top: 10%;
  right: 0%;
}
.hand-2{
  top: 44%;
  right: 0%
}
.hand-3{
  top: 75%;
  right: 0%;
}

.hand-styles {
  height: auto;
  width: 15%;
  animation: hand-project 2s infinite;
  opacity: 0;
  position: absolute;
  z-index: 4;
}

@keyframes hand-project {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.project {
  position: absolute;
  background-color: #edb362;
  // padding: 20px;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}
.less-waste {
  background-image: url(../assets/blankback.png);
  z-index: 2;
  top: -3%;
}
.acebook {
  background-image: url(../assets/blankback.png);
  z-index: 1;
}
.brewmate {
  background-image: url(../assets/blankback.png);
  z-index: 0;
}

//animate acebook to slide out from under less-waste
  @keyframes slide-right {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0px, 109%);
    }
  }

  @keyframes slide-right-back {
    0% {
      transform: translate(0, 109%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 210%);
    }
  }

  @keyframes slide-left-back {
    0% {
      transform: translate(0, 210%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .card.flip {
    & .acebook {
      animation: slide-right 2s forwards;
    }
    & .brewmate {
      animation: slide-left 2s forwards;
    }
    // & .hand-styles {
    //   visibility: visible;
    //   opacity: 1;
    //   transition: all 3s ease-in;
    // }
  }

  // hovering on less-waste changes opacity of hand-style
  .less-waste:hover + .hand-styles {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  .acebook:hover + .hand-styles {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  .brewmate:hover + .hand-styles {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .card {
    & .acebook {
      animation: slide-right-back 2s forwards;
    }
    & .brewmate {
      animation: slide-left-back 2s forwards;
    }
  }

  @media only screen and (min-width: 1200px) {
    .less-waste {
      top: 3%;
    }
    @keyframes slide-right {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 127%);
      }
    }
  
    @keyframes slide-right-back {
      0% {
        transform: translate(0, 127%);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes slide-left {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0, 242%);
      }
    }
  
    @keyframes slide-left-back {
      0% {
        transform: translate(0, 242%);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    .hand-1 {
      top: 12%;
      right: -5%;
    }
    .hand-2{
      top: 42%;
      right: -5%
    }
    .hand-3{
      top: 72%;
      right: -5%;
    }
  }